<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../assets/styles/index.css" />
    <script
      src="https://kit.fontawesome.com/e9615b96e3.js"
      crossorigin="anonymous"
    ></script>

    <title>Receita 1</title>
  </head>
  <body>
    <header>
      <div>
        <h1>Receitas</h1>
        <img src="../../assets/images/mosten-logo.png" alt="logo mosten" />
      </div>

      <nav>
        <ul>
          <li><a href="../../index.html">home</a></li>
          <li><a href="../../index.html">receitas</a></li>
          <li><a href="#contato">contato</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <div id="recipe-wrap">
          <div id="recipe-card">
            <h2>Receita 1</h2>

            <img
              src="https://media.istockphoto.com/id/1493482723/pt/foto/rice-beans-grilled-chicken-steak-salad.jpg?s=612x612&w=0&k=20&c=vRfHmxp7BIOoMf529VtyXGW-Dd7tIWDk4fkFJOI-EoU="
              alt="imagem da receita"
            />

            <button id="like-button">
              <i class="fa-regular fa-thumbs-up"></i>

              <span id="like-counter">0</span>
            </button>

            <div id="recipe-ingredients">
              <h3>Ingredientes:</h3>
              <ul>
                <li>Ingrediente1</li>
                <li>Ingrediente2</li>
                <li>Ingrediente3</li>
                <li>Ingrediente4</li>
                <li>Ingrediente5</li>
              </ul>
            </div>

            <div id="prep-guide">
              <h3>Modo de Preparo:</h3>

              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Aspernatur nostrum minima debitis eius, hic aperiam blanditiis
                rem assumenda est cupiditate architecto molestias numquam,
                reprehenderit, fugiat saepe veniam dignissimos earum maxime!
              </p>
            </div>

            <div id="prep-time">
              <h3>Tempo de preparo:</h3>

              <p><span id="prep-time-slot">00</span> minutos.</p>
            </div>
          </div>

          <form action="#" id="comment-form">
            <h3>Seu Comentário:</h3>

            <div id="comment-stars-container"></div>

            <textarea name="comment" id="comment"></textarea>

            <button type="submit">Enviar</button>
          </form>

          <div id="comments-section">
            <h3>Comantários:</h3>

            <div id="comments"></div>
          </div>
        </div>
      </section>
    </main>

    <footer id="contato">
      <div id="footer-logo">
        <img src="../../assets/images/mosten-logo.png" alt="logo mosten" />
      </div>

      <div id="footer-social">
        <a
          href="https://www.instagram.com/mosten.co/"
          target="_blank"
          rel="noopener"
          ><img
            src="../../assets/images/icons/instagram.png"
            alt="logo do instagram"
        /></a>

        <a
          href="https://www.linkedin.com/company/mosten/posts/?feedView=all"
          target="_blank"
          rel="noopener"
          ><img
            src="../../assets/images/icons/linkedin.png"
            alt="logo do linkedin"
        /></a>
      </div>
    </footer>

    <script type="module" src="../js/app.js"></script>
  </body>
</html>
