#recipes-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  #cards-container {
    display: grid;

    gap: 2rem;
    padding: 2rem;

    max-width: 62.5rem;
    margin: auto;

    img {
      width: 100%;
    }
  }
}
